@font-face {
  font-family: 'DIN-Regular';
  src: url('fonts/dinreg.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'DIN-Bold';
  src: url('fonts/dinbold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
    font-family: gotham;
    src: url('fonts/gothhtfm-webfont.woff') format('woff')
}

@font-face {
    font-family: gothamcondensed;
    src: url('fonts/gothtflc-webfont.woff') format('woff')
}

